<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @note.created_at.blank? %>
    <div class="field">
      <div class="meta">Created: <%= @note.created_at %></div>
      <div class="meta">Last Update: <%= @note.updated_at %></div>
      <div class="meta">Sharing: <%=link_to_shared %></div>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, maxLength: 250 %>
  </div>
  
  <div class="field">
    <%= f.label :tag_list, "Tags* (seperated by commas)" %><br>
    <%= f.autocomplete_field :tag_list, autocomplete_tag_name_notes_path, 'data-delimiter' => ', ', value: @note.tag_list.join(", ")%>
  </div>
  
  <div class="markdown">
    <%= f.label :markdown %><br>
    <%= f.text_area :markdown %>
  </div>
  
  <div id="compiled" class="markdown">
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
