<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Update</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, edit_note_path(note), class: "titleTable" %></td>
        <td><%= note.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notes', new_note_path %> |
<%= link_to "Trash Can (#{@trash_count})", trashed_notes_path(@note) %>
