<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table id="note_list">
  <thead>
    <tr>
      <th class="note title">Title</th>
      <th class="note last-update">Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td class="note title"><%= link_to note.title, edit_note_path(note), class: "titleTable" %></td>
        <td class="note last-update"><%= note.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %> |
<%= link_to "Trash Can (#{@trash_count})", trashed_notes_path(@note) %>
