<!DOCTYPE html>
<html>

  <head>
    <title>Lightbulb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= link_to 'Dashboard', dashboard_path, class: 'dashboard' %>
    <%= link_to "New Note", new_note_path %>
    <%= link_to 'Trash Can', trashed_notes_path %>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>


    <% if user_signed_in? %>
      <div>Signed in as <%= link_to current_user.email, edit_user_registration_path %></div>
    <% end %>

    <%= yield %>

  </body>
</html>
